#form-form {
  border-radius: 10px;
  overflow: auto;
  margin-top: 5px;
  height: 98%;
  width: 70vw;
  /* background-color: rgb(204, 204, 203); */
  background-color: #fff;
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
