* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

#root {
  background-image: url("../public/banner.PNG");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(202, 198, 198);
  height: 100vh;
}

#form-form {
  border-radius: 10px;
  overflow: auto;
  margin-top: 5px;
  height: 98%;
  width: 70vw;
  /* background-color: rgb(204, 204, 203); */
  background-color: #fff;
  box-shadow: 0 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}

button {
  height: 40px;
  width: 150px;
  border-radius: 5px;
  border: none;
  background-color: rgb(36, 36, 207);
  color: white;
  left: 0;
  cursor: pointer;
  text-align: center;
}

button:hover {
  background-color: #b8e81c;
}

.btn {
  text-align: end;
  padding-right: 30px;
  margin-top: 40px;
}
